<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
       		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 自动扫描该包，使SpringMVC认为包下用了@controller注解的类是控制器，多个包用","分割 -->
	<context:component-scan base-package="com.heqing.demo.spring.mvc.controller" />

	<!-- 静态资源 -->
	<mvc:resources mapping="/js/**"  location="/WEB-INF/js/" />

	<!-- JSON数据处理 高效 -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<!-- 配置Fastjson支持 -->
			<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>application/json</value>
						<value>application/xml;charset=UTF-8</value>
					</list>
				</property>
				<property name="features">
					<list>
						<value>WriteMapNullValue</value>
						<value>WriteNullNumberAsZero</value>
						<value>WriteNullListAsEmpty</value>
						<value>WriteNullStringAsEmpty</value>
						<value>WriteNullBooleanAsFalse</value>
						<value>WriteDateUseDateFormat</value>
						<value>WriteMapNullValue</value>
						<value>DisableCircularReferenceDetect</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="contentType" value="text/html;charset=UTF-8" />
		<property name="prefix" value="/WEB-INF/view/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 定义文件上传解析器 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设定默认编码 -->
		<property name="defaultEncoding" value="UTF-8"/>
		<!-- 设定文件上传的最大值为5MB，5*1024*1024 -->
		<property name="maxUploadSize" value="5242880"/>
		<!-- 设定文件上传时写入内存的最大值，如果小于这个参数不会生成临时文件，默认为10240 -->
		<property name="maxInMemorySize" value="40960"/>
		<!--&lt;!&ndash; 上传文件的临时路径 &ndash;&gt;-->
		<!--<property name="uploadTempDir" value="/test"></property>-->
		<!-- 延迟文件解析 -->
		<property name="resolveLazily" value="true"/>
	</bean>

	<!-- 国际化配置start -->
	<!-- 主要用于获取请求中的locale信息，将其转为Locale对像，获取LocaleResolver对象-->
	<mvc:interceptors>
			<bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
				<property name="paramName" value="lang" />
			</bean>
	</mvc:interceptors>
	<!-- 配置国际化资源文  messageSource配置的是国际化资源文件的路径 -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<!-- 表示语言配置文件是以language开头的文件（language_zh_CN.properties）-->
		<property name="basename" value="language"/>
		<!-- 语言区域里没有找到对应的国际化文件时，默认使用language.properties文件-->
		<property name="useCodeAsDefaultMessage" value="true" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	<!-- 配置SessionLocaleResolver用于将Locale对象存储于Session中供后续使用 -->
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver"/>
	<!-- 国际化配置end -->

	<!-- 自定义的拦截器类处理类 -->
	<mvc:interceptors>
		<!--<mvc:interceptor>-->
			<!--<mvc:mapping path="/**/**"/>-->
			<!--<bean class="com.heqing.demo.mvc.interceptor.DemoHandlerInterceptor"></bean>-->
		<!--</mvc:interceptor>-->
		<mvc:interceptor>
			<mvc:mapping path="/**/**"/>
			<bean class="com.heqing.demo.spring.mvc.interceptor.DemoWebRequestInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<mvc:default-servlet-handler />

	<!-- 启动@AspectJ支持 -->
	<aop:aspectj-autoproxy/>
</beans>
